@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #5e50f9;
  --indigo: #6610f2;
  --purple: #6a008a;
  --pink: #e91e63;
  --red: #f96868;
  --orange: #f2a654;
  --yellow: #f6e84e;
  --green: #46c35f;
  --teal: #58d8a3;
  --cyan: #57c7d4;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #0f1531;
  --blue: #5e50f9;
  --indigo: #6610f2;
  --purple: #6a008a;
  --pink: #e91e63;
  --red: #f96868;
  --orange: #f2a654;
  --yellow: #f6e84e;
  --green: #46c35f;
  --teal: #58d8a3;
  --cyan: #57c7d4;
  --white: #ffffff;
  --gray: #434a54;
  --gray-light: #aab2bd;
  --gray-lighter: #e8eff4;
  --gray-lightest: #e6e9ed;
  --black: #000000;
  --primary: #032a63;
  --secondary: #3a3a3a;
  --success: #3e8177;
  --info: #4d7cff;
  --warning: #f5a623;
  --danger: #d1011c;
  --light: #f8f8f8;
  --dark: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
@font-face {
  font-family: NRT;
  src: url(../fonts/NRT-Reg.woff);
}
@keyframes gradient {
  0% {
    background-position: 0% 50% !important;
  }
  50% {
    background-position: 100% 50% !important;
  }
  100% {
    background-position: 0% 50% !important;
  }
}
body {
  direction: rtl;
  margin: 0 !important;
  background: #eeeeee;

  webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  background: #fff;
  font-family: "NRT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  color: white !important;
  background: linear-gradient(-45deg, #3b3981, #1a1671, #23a6d5, #400e71);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

a {
  color: #1e85c9;
}
.img img {
  width: 40px;
  height: 40px;
}
.vertical-nav {
  position: fixed;
  background: linear-gradient(-45deg, #e58b70, #1a1671, #23a6d5, #400e71);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  box-shadow: 0 0 40px #00000021;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 75vh;
  width: 70px;
  z-index: 9999;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.vertical-nav li {
  list-style: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px var(--dark);
  text-align: center;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
}
.vertical-nav li:last-child {
  border: none;
}
.vertical-nav li a {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a {
  background: #fafafa;
  transition: all 0.2s ease;
}
.vertical-nav li:hover > a .feather {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.vertical-nav li:hover > .hover-menu,
.vertical-nav li:focus-within > .hover-menu {
  visibility: visible;
  opacity: 1;
  -webkit-animation: slide-down 0.2s ease-out;
  -moz-animation: slide-down 0.2s ease-out;
  transition: all 0.5s ease;
  display: block;
}
.vertical-nav li .hover-menu {
  background: white;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
  position: absolute;
  right: 70px;
  min-width: 200px;
  margin: 0;
  padding: 0;
  top: 0;
  box-shadow: 0 0 40px #00000021;
}
.vertical-nav li .hover-menu:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.vertical-nav li .hover-menu ul {
  margin: 0;
  padding: 0;
}
.vertical-nav li .hover-menu ul li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: right;
}
.vertical-nav li .hover-menu ul li a {
  width: 100%;
  display: block !important;
  text-decoration: none;
  padding: 15px 20px;
  text-align: right;
  height: auto !important;
  font-weight: 400;
}
.vertical-nav li .hover-menu ul li a:hover {
  background: #fafafa;
  transition: 0.3s ease;
}

.menu-header {
  font-family: "Roboto Condensed", sans-serif;
  color: #929292;
  font-size: 13px;
  text-align: left !important;
  padding: 12px 20px 5px 20px;
  font-weight: 600;
  border-bottom: none !important;
}
.content {
  padding: 40px;
  color: #464646;
  width: 1170px;
  margin: 0 auto;
}
h1,
h2 {
  color: #343535;
  font-weight: 400;
}
p,
.content li {
  color: #949494;
  line-height: 29px;
  font-size: 16px;
  font-weight: 300;
}
.header-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
/*----------------vistor counter----------------*/
.visitor_counter {
  display: flex;
  align-items: center;
  direction: ltr;
  position: absolute;

  left: 60px;
  top: 10px;
}
.visitor_counter li {
  list-style: none;
  padding: 0.3rem 0.7rem;
  margin: 0.3rem;
  color: white;
  font-size: 1.2rem;
  background-color: #011a89e0;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0;
}
/* table */
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6 !important;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}
.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}
.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #03a9f4;
  background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}
