.scrollToTop {
  background-color: #2c345b;
  color: #fff;
}
.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #fff;
  color: #2c345b;
  border-color: 1px solid #2c345b;
}
.logo > span {
  color: #2c345b;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #2c345b;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #2c345b;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #2c345b;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2c345b;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #2c345b;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2c345b;
}
.latest_newsarea span {
  background: none repeat scroll 0 0 #667db6;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.latest_post > h2 span {
  background: none repeat scroll 0 0 #667db6;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
#prev-button {
  color: #2c345b;
}
#next-button {
  color: #2c345b;
}
.single_post_content > h2 span {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.single_sidebar > h2 span {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bsbig_fig figcaption a:hover {
  color: #2c345b;
}
.spost_nav .media-body > a:hover {
  color: #2c345b;
}
.cat-item a:hover {
  background-color: #2c345b;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #2c345b;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #2c345b;
}
.single_sidebar > ul > li a:hover {
  color: #2c345b;
}
.footer_widget > h2:hover {
  color: #2c345b;
}
.tag_nav li a:hover {
  color: #2c345b;
  border-color: #2c345b;
}
.copyright a:hover {
  color: #2c345b;
}
.post_commentbox a:hover,
.post_commentbox span:hover {
  color: #2c345b;
}
.breadcrumb {
  border-left: 10px solid #2c345b;
}
.single_page_content ul li:before {
  background-color: #2c345b;
}
.single_page_content h2,
.single_page_content h3,
.single_page_content h4,
.single_page_content h5,
.single_page_content h6 {
  color: #2c345b;
}
.nav-slit .icon-wrap {
  background-color: #2c345b;
}
.nav-slit h3 {
  background: #2c345b;
}
.catgArchive {
  background-color: #2c345b;
}
.error_page > h3 {
  color: #2c345b;
}
.error_page > span {
  background: none repeat scroll 0 0 #667db6;
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.error_page > a {
  background-color: #2c345b;
}
.contact_area > h2 {
  background-color: #2c345b;
}
.contact_form input[type="submit"] {
  background-color: #2c345b;
}
.contact_form input[type="submit"]:hover {
  background-color: #fff;
  color: #2c345b;
}
.related_post > h2 i {
  color: #2c345b;
}
.form-control:focus {
  border-color: #2c345b;
  box-shadow: 0 0px 1px #2c345b inset, 0 0 5px #667db6;
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
